body {
	position: relative;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: #222;
}

div.alert {
	position: absolute;
	top: 56;
	width: 100%;
}

#admin_login {
	background-color: #ddd;
	box-shadow: 0px 0px 10px #777;
	margin-top: 3em;
}

#admin_nav {
	background-color: #ddd;
}

#admin_nav a {
	color: #333;
}

#identity {
	text-align: right;
	font-size: 0.9em;
	height: 0;
	line-height: 2.5em;
}

.display-4 {
	font-size: 2.75em;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
}

.display-5 {
	font-size: 2.25em;
	font-weight: 300;
	margin-top: 0.5rem;
}

.display-6 {
	font-size: 2em;
	font-weight: 300;
}

main {
	padding: 2em 0;
}

.form-page {
	max-width: 600px;
	margin: 0 auto;
}

input[type="number"] {
	border-radius: 3px;
	border-width: 1px;
	padding: 2px 5px;
}

button {
    margin: 8px auto 0;
    border: none;
}
