<nav class="navbar navbar-expand-md navbar-light" id="admin_nav">
  <div class="container">
    <div class="ml-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/admin_cp/">Control Panel</a></li>
        <li class="nav-item"><a class="nav-link" href="/destinations/">Destinations</a></li>
        <li class="nav-item"><a class="nav-link" href="/a_trips/">Trips</a></li>
        <li class="nav-item"><a class="nav-link" href="/customers/">Customers</a></li>
      </ul>
    </div>
  </div>
</nav>
