<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Mörtfors Buss</a>
    <div class="ml-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        {% if session.admin %}
          <li class="nav-item"><a class="nav-link" href="/admin_cp/">Control Panel</a></li>
          <li class="nav-item"><a class="nav-link" href="/trips/">Admin 2</a></li>
        {% elif session.logged_in %}
          <li class="nav-item"><a class="nav-link" href="/trips/">Trips</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        {% if session.admin %}
          <li class="nav-item"><a class="nav-link" href="/logout/">Log out</a></li>
        {% elif session.logged_in %}
          <li class="nav-item"><a class="nav-link" href="/my_bookings/">My bookings</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout/">Log out</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/register/">Register account</a></li>
          <li class="nav-item"><a class="nav-link" href="/login/">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
