{% extends "layout.html" %}

{% block body %}

  <main class="form-page" id="admin_login">
    <section>
      <div class="container">
        <h1 class="display-4">Admin log in</h1>
      </div>
    </section>

    <section>
      <div class="container">
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="/admin_login/">
          <div class="form-group">
            {{ render_field(form.email, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.password, class_="form-control") }}
          </div>
          <div class="form-check mb-2">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
          </div>
          <button type="submit" class="btn btn-primary form-submit-btn mt-1 mb-1">Log in</button>
        </form>
      </div>
    </section>
  </main>

{% endblock body %}
