{% extends "layout.html" %}

{% block body %}

  <main>
    <section>
      <div class="container">
        <h1 class="display-4">My bookings</h1>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="container">
          {% if trips %}
            <p class="lead">You can edit or read more about your bookings</p>
          <table class="table">
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Tickets</th>
            </tr>

            {% for trip in trips %}
              <tr>
                <td>{{ trip.startdest }}</td>
                <td>{{ trip.enddest }}</td>
                <td>{{ trip.starttime }}</td>
                <td>{{ trip.arrival }}</td>
                <td>{{ trip.nr_of_seats }}</td>
                <td><a href="/trip/{{ trip.trip_id }}" class="btn btn-success">Läs mer</a></td>
                <td><a href="/edit_trip/{{ trip.trip_id }}" class="btn btn-primary">Redigera</a></td>
              </tr>
            {% endfor %}
          </table>
          {% else %}
            <p class="lead">You have no bookings at the moment</p>
            <a href="/trips/" class="btn btn-primary">Browse trips</a>
          {% endif %}

        </div>
      </div>
    </section>
  </main>

{% endblock %}
