{% extends "layout.html" %}

{% block body %}

  <main>
    <section>
      <div class="container">
        <h1 class="display-4">Information about the trip</h1>
      </div>
    </section>

    <section>
      <div class="container">
        <h2 class="display-5">{{ trip_info.startdest }}, {{ trip_info.startcountry }} - {{ trip_info.enddest }}, {{ trip_info.arrivalcountry }}</h2>
        <p>Departure: {{ trip_info.starttime }} from <i>{{ trip_info.startstreet }}</i><br>
        Arrival: {{ trip_info.arrival }} to <i>{{ trip_info.arrivalstreet }}</i><br>
        Price: {{ trip_info.price }} kr/person.<br>
        Available seats: {{ trip_info.empty_seats }}<br>
        Driver: {{ trip_info.firstname }} {{ trip_info.lastname }}</p>
        <p>How many tickets do you want?</p>

        {% from "includes/_formhelpers.html" import render_field %}
        <form  method="POST" action="">
          <!-- Use WTForms instead for a more secure validation -->
          <label for="nr_of_seats">Number of tickets: </label>
          <input type="number" name="nr_of_seats" id="nr_of_seats" value="1" min="1" max={{ trip_info.empty_seats }} required><br>
          <button type="submit" class="btn btn-success">Book trip</button>
        </form>
      </div>
    </section>
  </main>

{% endblock %}
